@import '../../../styles/mixin';

.grid-center {
    display: grid;
    place-content: center;
    justify-self: center;
    @include mq(MAX) {
        width: 1023px;
        max-width: 1023px;
    }
    @include mq(PC) {
        width: 767px;
        max-width: 767px;
    }
    @include mq(TABLET) {
        width: 767px;
        max-width: 767px;
    }
    @include mq(PHONE) {width: minmax(414px, 760px)}
    @include mq(SM) {width:  minmax(320px, 410px)}
    @include mq(MI) {width: minmax(280px, 290px)}
}