@import '../../../styles/mixin';

.grid-center {
    display: grid;
    place-content: center;
    justify-self: center;
    @include mq(MAX) { width: map-get($bk, MAX) }
    @include mq(PC) { width: map-get($bk, PC) }
    @include mq(TABLET) { width: map-get($bk, TABLET) }
    @include mq(PHONE) { width: map-get($bk, PHONE) }
    @include mq(SM) { width: map-get($bk, SM) }
    @include mq(MI) { width: map-get($bk, MI) }
}