@import "../../styles/mixin", "../../styles/variable";

.article {
  &-wrapper {
    padding: $content_padding_horizontal 0;
  }
  &-publication-date {
    color: $sub-gray;
    font-size: 1rem;
  }
  &-title {
    color: $prime;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  &-tags a {
    color: $sub-gray;
    padding: 0 0 0 0.5rem;
    font-size: 1rem;
  }
  &-descriptions {
    display: flex;
    justify-content: space-between;
    .read-more {
      color: $bg-white;
      background-color: $prime;
      border-radius: $radius;
      padding: 0.5em 1em;
    }
  }
}

.category {
  background-color: $sky;
  color: white;
  padding: 0 1rem;
  border-radius: $radius;
}


.shadow {
  box-shadow: $low-shadow;
}
.card {
  &-anim {
    transition: box-shadow 0.1s ease;
    &:hover {
      box-shadow: $low-shadow;
    }
    &:active {
      box-shadow: $low-shadow;
    }
  }
  
  border-radius: $radius;
  padding: 0 $content_padding_vertical / 2;
  margin: 0 0 1.5rem 0;
  background-color: $bg-white;
}
