@import "../../styles/mixin", "../../styles/variable";

.article {
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  padding: 0 $content_padding_vertical / 2;
  @include mq(xs) {
    min-width: 400px;
  }
  &-wrapper {
    padding: 1rem 0;
  }
  &-publication-date {
    color: $gray-0;
    font-size: 0.8rem;
    text-align: center;
    @include mq(xs) {
      line-height: 0.3em;
      font-size: 0.6rem;
    }
  }
  &-title {
    color: $prime;
    font-weight: 700;
    font-size: 1.2rem;
    @include mq(xs) {
      font-size: 1rem;
    }
  }
  &-tags a {
    color: $gray-0;
    font-size: 0.8rem;
    @include mq(xs) {
      line-height: 0.3em;
      font-size: 0.6rem;
    }
  }
  &-main {
    font-size: 1rem;
    @include mq(xs) {
      font-size: 0.8rem;
    }
  }
  &-descriptions {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    .detail {
      font-size: 1rem;
      font-weight: 700;
      // background-color: $prime;
      color: $bg-light;
      border-radius: $radius;
      padding: 0.4rem 1rem;
      min-width: 126px;
      svg {
        width: 1rem;
        height: 1rem;
      }
      @include mq(xs) {
        font-size: 1rem;
        svg {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
  }
}

.category {
  background-color: $sky;
  color: white;
  padding: 0 1rem;
  border-radius: $radius;
}

.tag {
  padding: 0.2rem 0.2rem  0.2rem 0;
  // border-radius: 100px;
  // border:2px solid $bg-gray;
}

.split {
  color: $gray-1;
}

.in-icon {
  margin-right: .5rem;
  svg {
    height: 1rem;
    margin-right: .2rem;
    margin-bottom: 4px;
    justify-content: left;
    align-items: center;
    color: $gray-0;
  }
}