@import '../../styles/mixin',
        '../../styles/variable';
.spacebetween {
  display: flex;
  justify-content: space-between;
}

.c-card {
  width: 100%;
  background-color: $light;
  box-sizing: border-box;
  border-bottom: 1px solid $grayish-white;
}
.l-card {
  display:grid;
  grid-template-areas: "body";
  grid-template-columns: auto;
}
// RightSide
.c-body {
  grid-area: body;
  align-self: center;
  margin: 1.414rem 0;
  padding: 0 1.414rem;
  &:hover {
    transform: scale(1.02);
    transition: transform .2 ease;
  }
}
.c-category {
  margin: 29.5px 21.75px;
}
.c-tags {
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 21.05px;
  .c-createdAt {
    font-size: 14px;
    color: $grayish-dark;
    margin-right: 8px;
  }
}
.tag {
  line-height: 24px;
  height: 24px;
  color: $blue;

  font-size: 12px;
  font-weight: 500;

  text-decoration: none;
  text-transform: capitalize;
  border: solid 1px $blue;
  border-radius: 18px;
  margin-bottom: 21.05px;
  margin-right: 8px;
  padding: 3px 7px;
  @include mq(PHONE) {
    padding: 5px 9px;
    font-size: 14px;
  }
  @include mq(SM) {
    padding: 5px 9px;
    font-size: 14px;
  }
  @include mq(MI) {
    padding: 5px 9px;
    font-size: 14px;
  }

}


.c-title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.414rem;
  line-height: 2.121rem;
  margin-bottom: 7px;
  font-weight: 700;
  color: $blue;
}
.c-description {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  line-height: 17px;
  height: #{17 * 3}px;
  color: $grayish-dark;
  margin: 0;
}
.c-detail {
  background-image: linear-gradient(90deg,hsla(0,0%,0%,0), #fbfbfb, #fbfbfb);
  color: $blue;
  text-align: end;
  font-weight: 700;
  margin-top: -17px;
  position: relative;
}