@import './mixin';

@include keyframes (grad) {
  0%{background-position:0% 45%;}
  50%{background-position:100% 56%;}
  100%{background-position:0% 45%;}
}

.grad {
  $rotate_time: 1s;

  background: linear-gradient(200deg, $sky, $prime) !important;
  background-size: 400% 400%;

  @include animation(grad $rotate_time ease infinite);
}