
.shadow {
  box-shadow: $low-shadow;
}
.card {
  &-anim {
    box-shadow: $low-shadow;
    transition: box-shadow 0.1s ease;
    &:hover {
      box-shadow: $low-shadow;
    }
    &:active {
      box-shadow: $low-shadow;
    }
  }

  border: $card-border;
  
  border-radius: $radius;
  background-color: $bg-white;
}
