$breakpoints: (
  'MI': 'screen and (max-width: 319px)',
  'SM': 'screen and (min-width: 320px) and (max-width: 414px)',
  'PHONE': 'screen and (min-width: 415px) and (max-width: 767px)',
  'TABLET': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'PC': 'screen and (min-width: 1025px) and (max-width: 1439px)',
  'MAX': 'screen and (min-width: 1440px)',
) !default;

@mixin mq($breakpoint: MI) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =================================================================
// absolute() : top/right/bottom/left を一括設定
// =================================================================
@mixin absolute($top:null, $right:null, $bottom:null, $left:null){
  position: absolute;
  @if $top != null{
    top: $top;
  }
  @if $right != null{
    right: $right;
  }
  @if $bottom != null{
    bottom: $bottom;
  }
  @if $left != null{
    left: $left;
  }
}
