$breakpoints: (
  'min': 'screen and (max-width: 319px)',
  'small': 'screen and (min-width: 320px) and (max-width: 414px)',
  'phone': 'screen and (min-width: 415px) and (max-width: 767px)',
  'talet': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint: min) {
  @media#{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


// =================================================================
// absolute() : top/right/bottom/left を一括設定
// =================================================================
@mixin absolute($top:null, $right:null, $bottom:null, $left:null){
  position: absolute;
  @if $top != null{
    top: $top;
  }
  @if $right != null{
    right: $right;
  }
  @if $bottom != null{
    bottom: $bottom;
  }
  @if $left != null{
    left: $left;
  }
}
