$breakpoints: (
  'MAX': 'screen and (min-width: 1440px)',
  'PC': 'screen and (min-width: 1025px) and (max-width: 1439px)',
  'TABLET': 'screen and (min-width: 768px) and (max-width: 1024px)',
  'PHONE': 'screen and (min-width: 415px) and (max-width: 767px)',
  'SM': 'screen and (min-width: 320px) and (max-width: 414px)',
  'MI': 'screen and (max-width: 319px)',
) !default;

$bk: (
  'MAX': 1024px,
  'PC': 1024px,
  'TABLET': 768px,
  'PHONE': auto,
  'SM': auto,
  'MI': auto,
);
$maw: (
  'MAX': 689.376px,
  'PC': 689.376px,
  'TABLET': 513.376px,
  'PHONE': 92vw,
  'SM': 92vw,
  'MI': 92vw,
);

@mixin mq($breakpoint: MI) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
.is-mobile {
  @include mq(MAX) { visibility: hidden; height: 0px; }
  @include mq(PC) { visibility: hidden; height: 0px; }
  @include mq(TABLET) { visibility: hidden; height: 0px; }
  @include mq(PHONE) { visibility: visible; }
  @include mq(SM) { visibility: visible; }
  @include mq(MI) { visibility: visible; }
}
.is-pc {
  @include mq(MAX) { visibility: visible; }
  @include mq(PC) { visibility: visible; }
  @include mq(TABLET) { visibility: visible; }
  @include mq(PHONE) { visibility: hidden; height: 0px; }
  @include mq(SM) { visibility: hidden; height: 0px; }
  @include mq(MI) { visibility: hidden; height: 0px; }
}
