// =============================
// colors
// =============================
$white: #FFFFFF;
$whitish-light:#f0f0f0;
$light: #FBFBFB;
$grayish-white: #EEEEEE;
$whitish-gray: #DFE1E5;
$gray: #878787;
$grayish-dark: #3C4043;
$dark: #202124;
$blue: #0092B5;
$blue-deep: #0A5669;
$red: #B5124C;
$yellow: #B5A712;
$yellow-deep: #696005;
$orange: #FF7A18;


$palettes: (
  c: (
    'blue': ($blue, $white),
    'bluedeep': ($blue-deep, $white),
    'red': ($red, $white),
    'yellow': ($yellow, $white),
    'yellowdeep': ($yellow-deep, $white),
    'orange': ($orange, $white),
  ),
  g: (
    'white': ($white, $dark),
    'light': ($light, $dark),
    'grayishwhite': ($grayish-white, $dark),
    'whitishgray': ($whitish-gray, $dark),
    'gray': ($gray, $white),
    'grayishdark': ($grayish-dark, $grayish-white),
    'dark': ($dark, $white),
  ),
);

@each $paletteName, $palette in $palettes {
  @each $colorName, $color in $palette {
    .is-#{$colorName} {
      & {
        background: nth($color, 1);
        color: nth($color, 2);
      }
      &_str {
          color: nth($color, 1);
      }
      &_bg {
          background: nth($color, 1);
      }
    } // .is-
  } // each color in palette
} // each palette in palettes

body {
  background-color: $grayish-white;
}
// =============================
// Shadow
// =============================
$low-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$high-shadow: rgba(0, 0, 0, 0.1) 0px 7px 20px;

.shadowish {
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.1));
}

$card-border: 1px solid #dfe1e5;

