// =============================
// colors
// =============================
$white: #FFFFFF;
$light: #FBFBFB;
$grayish-white: #EEEEEE;
$whitish-gray: #DFE1E5;
$grauish-dark: #3C4043;
$dark: #202124;
$blue: #0092B5;
$blue-deep: #0A5669;
$red: #B5124C;

// =============================
// Shadow
// =============================
$low-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$high-shadow: rgba(0, 0, 0, 0.1) 0px 7px 20px;

$filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.1));

$card-border: 1px solid #dfe1e5;

