@charset 'utf-8';

@import './variable',
        './font',
        './mixin';

body {
    background-color: white;
    font-family: "YakuHanJPs_Noto", "Hiragino Sans" sans-serif;
    font-feature-settings: "palt";
}
//h1 {
//    font-family: 'Montserrat', sans-serif;
//}
