@charset 'utf-8';

// @import './font';

html, body, img {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

// Atoms
@import
    "../components/Atoms/Tags/styles.scss";

// Layouts
@import
    "../components/layouts/CenterLayout/style.scss",
    "../components/layouts/TwoColumnsLayout/style.scss";

// Molecules
@import
    "../components/Molecules/Header/style.scss",
    "../components/Molecules/Footer/style.scss";

// Templates
@import
    "../templates/ArticleListTemplate/style.scss";

