@import "../../styles/mixin", "../../styles/variable";


.site {
  &-header {
    // position: sticky;
    background-color: $prime;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  &-nav {
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }

  &-content {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    transition: padding 0.05s ease;
    @include mq(xs) {
      display: block;
      padding: $content_padding_horizontal 0;
    }
    @include mq(sm) {
      display: block;
      padding: $content_padding_horizontal 0;
    }
    @include mq(md) {
      display: flex;
      max-width: 1160px;
      padding: $content_padding_horizontal $content_padding_vertical;
    }
    @include mq(lg) {
      max-width: 1160px;
      display: flex;
    }
    &-main {
      flex: 1;
      max-width: 735px;
      margin: 2rem 2rem;
      @include mq(xs) {
        display: block;
        max-width: 100%;
        margin: 0;
      }
      @include mq(sm) {
        display: block;
        max-width: 100%;
        margin: 0;
      }
      @include mq(md) {
        display: flex;
        max-width: 735px;
        margin: 0;
      }
      @include mq(lg) {
        display: flex;
        max-width: 735px;
        padding: 2rem 2rem;
      }
      @include mq(xl) {
      }
    }
    .sidebar {
      @include mq(xs) {
        display: block;
        max-width: 100vh;
        width: 100vh;
        margin: 0.5rem;
      }
      @include mq(sm) {
        display: block;
        max-width: 100vw;
        width: 100vw;
        margin: 0.5rem;
      }
      @include mq(md) {
        display: flex;
        margin-left: 1rem;
        margin-top: 0;
        max-width: 280px;
        height: 100%;
      }
      @include mq(lg) {
        display: flex;
        margin-top: 0;
        max-width: 280px;
        width: 260px;
        height: 100%;
      }
    }
  }


  &-footer {

  }
}

