@import '../../../styles/variable';

.tags-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding-left: 1rem;
  margin-bottom: 1.414rem;
  .item {
    margin-right: .2rem;
    text-align: center;
    font-size: 14px;
    border-radius: .3em;
    .tag {
      margin: 0;
    }
  }
}