@import '../../../styles/variable';
.siteLogo {
    svg {
        max-width: 414px;
        height: 23.35px;
        padding: 0 1rem;
        margin: 2rem 0;
    }
    a {
        margin: 0;
        padding: 0;
    }
}
.github {
    svg {
        width: 23.35px;
        height: 23.35px;
        margin: 2rem 1rem 2rem 0;
    }
    a {
        margin: 0;
        padding: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid $grayish-white;
}