@import "../../styles/mixin", "../../styles/variable";

.nav {
  display: flex;
  max-width: 1160px;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem 4rem;
  @include mq(xs) {
    padding: 1rem 2rem;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    @include mq(xs) {
      padding: .5rem 0.5rem;
    }
    @include mq(sm) {
      padding: 1rem 2rem;
    }
    @include mq(md) {
      padding: 1rem 4rem;
    }
    @include mq(lg) {
      padding: 1rem 4rem;
    }
    .logo {
      margin: 0;
      font-family: 'Montserrat';
      color: $bg-white;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      @include mq(xs) {
        font-size: 36px;
        min-width: 247px;
      }
    }
    .git {
      margin: 0;
      color: $bg-white;
    }
    .col {
      padding:12px;
    }
  }
}
