@import "../styles/mixin", "../styles/variable";

.mdx-wrapper {
  h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    word-wrap: break-word;
  }
  h2 {
    font-size:  1.6rem;
    font-weight: 600;
  }
  h3 {

  }
  h4 {}
  h5 {}
  h6 {}

}

// =================================================================
// Article
// =================================================================

.article {
  margin-bottom: 0.5rem;
  padding: 0 $content_padding_vertical / 2;
  @include mq(xs) {
    min-width: 400px;
  }
  &-wrapper {
    padding: 1rem 0;
  }
  &-publication-date {
    color: $gray-0;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
    @include mq(xs) {
      line-height: 0.3em;
      font-size: 0.6rem;
    }
  }
  &-title {
    color: $prime;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    @include mq(xs) {
      font-size: 200px;
      line-height: 26px;
    }
  }
  &-tags a {
    color: $gray-0;
    font-size: 0.8rem;
    font-weight: 600;
    @include mq(xs) {
      line-height: 0.3em;
      font-size: 0.8rem;
    }
  }
  &-main {
    padding: .5rem 0;
    font-size: 14px;
    line-height: 1.58;
    @include mq(xs) {
      font-size: 14px;
      line-height: 1.58;
    }
  }
  &-descriptions {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    .detail {
      font-size: 1rem;
      font-weight: 700;
      // background-color: $prime;
      color: $bg-light;
      border-radius: $radius;
      padding: 0.4rem 1rem;
      min-width: 126px;
      svg {
        width: 1rem;
        height: 1rem;
      }
      @include mq(xs) {
        font-size: 1rem;
        svg {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
  }
}

// =================================================================
// Nav
// =================================================================

.nav {
  display: flex;
  max-width: 1160px;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem 4rem;
  @include mq(xs) {
    padding: 1rem 2rem;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    @include mq(xs) {
      padding: .5rem 0.5rem;
    }
    @include mq(sm) {
      padding: 1rem 2rem;
    }
    @include mq(md) {
      padding: 1rem 4rem;
    }
    @include mq(lg) {
      padding: 1rem 4rem;
    }
    .logo {
      margin: 0;
      font-family: 'Montserrat';
      color: $bg-white;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      @include mq(xs) {
        font-size: 36px;
        min-width: 247px;
      }
    }
    .git {
      margin: 0;
      color: $bg-white;
    }
    .col {
      padding:12px;
    }
  }
}

// =================================================================
// Site
// =================================================================

.site {
  &-header {
    // position: sticky;
    background-color: $prime;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  &-nav {
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }

  &-content {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
    transition: padding 0.05s ease;
    @include mq(xs) {
      display: block;
      padding: $content_padding_horizontal 0;
    }
    @include mq(sm) {
      display: block;
      padding: $content_padding_horizontal 0;
    }
    @include mq(mxd) {
      display: block;
      max-width: 1160px;
      padding: $content_padding_horizontal $content_padding_vertical;
    }
    @include mq(md) {
      display: flex;
      padding: $content_padding_horizontal 4rem;
    }
    @include mq(lg) {
      max-width: 1160px;
      display: flex;
    }
    &-main {
      flex: 1;
      max-width: 735px;
      margin: 0;
      @include mq(xs) {
        display: block;
        max-width: 100%;
      }
      @include mq(sm) {
        display: block;
        max-width: 100%;
      }
      @include mq(mxd) {
        display: block;
        max-width: 735px;
        padding-left: 2rem;
      }
      @include mq(lg) {
        display: flex;
        max-width: 735px;
        padding: 2rem 2rem;
      }
      @include mq(xl) {
      }
    }
    .sidebar {
      @include mq(xs) {
        display: block;
      }
      @include mq(sm) {
        display: block;
        max-width: 100%;
        width: 100%;
        margin: 0;
      }
      @include mq(mxd) {
        display: block;
        margin-left: 1rem;
        margin-top: 0;
        max-width: 260px;
        height: 100%;
      }
      @include mq(md) {
        display: block;
      }
      @include mq(lg) {
        display: flex;
        margin-top: 0;
        max-width: 260px;
        width: 260px;
        height: 100%;
      }
    }
  }


  &-footer {

  }
}



.category {
  background-color: $sky;
  color: white;
  padding: 0 1rem;
  border-radius: $radius;
}

.tag {
  padding: 0.2rem 0.2rem  0.2rem 0;
  // border-radius: 100px;
  // border:2px solid $bg-gray;
}

.split {
  color: $gray-1;
  background-color: none;
  border-color: none;
  margin: 0;

}

.in-icon {
  margin-right: .5rem;
  svg {
    height: 1rem;
    margin-right: .2rem;
    margin-bottom: 4px;
    justify-content: left;
    align-items: center;
    color: $gray-0;
  }
}
.grad {
  background: linear-gradient(200deg, $sky, $prime) !important;
  background-size: 400% 400%;
}

.shadow {
  box-shadow: $low-shadow;
}
.card {
  &-anim {
    box-shadow: $low-shadow;
    transition: box-shadow 0.1s ease;
    &:hover {
      box-shadow: $low-shadow;
    }
    &:active {
      box-shadow: $low-shadow;
    }
  }

  border: $card-border;
  
  border-radius: $radius;
  background-color: $bg-white;

  @include mq(xs) {
    border-radius: 0;
  }
}
