@import "../styles/mixin", "../styles/variable";

html, body {
    background-color: #FFF;
}

.header {
    background-color: $blue;
}

.grid-center {
    display: grid;
    @include mq(PC) {
        grid-template-columns: 1fr 1024px 1fr;
    }
    @include mq(TABLET) {
        grid-template-columns: 1fr 768px 1fr;
    }
    @include mq(PHONE) {
        grid-template-columns: 1rem 414px 1rem;
    }
    @include mq(SM) {
        grid-template-columns: 1rem 320px 1rem;
    }
    @include mq(MI) {
        grid-template-columns: 1rem 300px 1rem;
    }
}

.max-width {
    @include mq(PC) {
        max-width: 1024px;
    }
    @include mq(TABLET) {
        max-width: 1024px;
    }
    @include mq(PHONE) {
        max-width: 768px;
    }
    @include mq(SM) {
        max-width: 414px;
    }
    @include mq(MI) {
        max-width: 300px;
    }
}