@import '../../../styles/variable';

.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  [aria-current="page"] {
    background-color: $blue;
    color: white;
  }
}
.pagination-button {
  display: inline-block;
  font-size: 1.2rem;
  color: $blue;
  text-align: center;
  line-height: 42px;
  width: 44px;
  height: 44px;
  margin: 0 6px;
  border: 1px solid $blue;
  transition: .2s ease-in-out;
  white-space: nowrap;
  border-radius: 50%;
}
