.sidebar {
  .l-card-crown {
    text-align: left;
    font-size: 1rem;
    line-height: 1.414rem;
    font-weight: 700;
  }
  .c-card {
    padding-top: 1.414rem;
    padding-right: 1rem;
  }
}
.sidecontent-header {
  width: 100%;
  font-weight: 500;
  margin-bottom: 1.414rem;
  font-size: 1.414rem;
  line-height: 1.414rem;
  color: $grayish-dark;
  text-align: center;
}