.sidebar {
  .l-card-crown {
    text-align: left;
    font-size: 1rem;
    line-height: 1.414rem;
    font-weight: 700;
  }
  .c-card {
    position: sticky;
    padding-top: 1.414rem;
    padding-right: 1rem;
  }
}
.sidecontent-header {
  width: calc(30%);
  display: grid;
  font-weight: 700;
  margin: 1.414rem;
  @include mq(MAX)    { margin-left: 0; }
  @include mq(PC)     { margin-left: 0; }
  @include mq(TABLET) { margin-left: 0; }
  padding-bottom: 0.707rem;
  justify-content: left;
  border-bottom: 2px solid $blue;
}
