.sidebar {
  .l-card-crown {
    text-align: left;
    font-size: 1rem;
    line-height: 1.414rem;
    font-weight: 700;
  }
  .c-card {
    position: sticky;
    padding-top: 1.414rem;
    padding-right: 1rem;
  }
}
.sidecontent-header {
  width: 100%;
  display: grid;
  font-weight: 900;
  padding-top: 1.414rem;
  padding-bottom: 1.414rem;
  justify-content: center;
  @include mq(MAX) { justify-content: left; }
  @include mq(PC) { justify-content: left; }
  @include mq(TABLET) { justify-content: left; }
}
