@import '../../styles/variable';

hr {
  border: none;
  text-align: center;
  margin: 2.828rem 0;
  &::before {
    content: "・ ・ ・";
    font-size: 1rem;
    color: $blue;
  }
}

.inner-toc {
  padding-left: 0;
  padding-top: 5.636rem;
  .toc-header {
    font-size: 14px;
    text-align: left;
  }
}

.mdx-wrapper{
  .mdx-header {
    text-align: center;
    letter-spacing: 0.05rem;
    border: 3px solid $blue;
    padding: 0 2rem;
    .c-a-title {
      color: $blue;
      font-weight: 700;
      font-size: 1.414rem;
      line-height: 2.121rem;
      padding-top: 1.414rem;
      margin-bottom: 0.45rem;
    }
    .c-a-desc {
      line-height: 16px;
      position: relative;
      color: $blue;
      top: 9px;
      margin-right: auto;
      margin-left: auto;
      max-width: 200px;
      background-color: white;
    }
  }


  article {
    padding: 16px;
    padding-top: 1.414rem;
    max-width: 100%;
    h2, h3 {
      color: $blue;
      font-weight: 700;
    }
    // h3 {
    //   align-items: center;
    //   &::before, &::after {
    //     border-top: 1px solid;
    //     border-bottom: 1px solid;
    //     flex-grow: 1;
    //     height: 3px;
    //   }
    //   &::before  {margin-right: 1rem;}
    //   &::after   {margin-left: 1rem;}
    // }
    h2 {
      font-size: 1.68141rem;
      line-height: 2.121rem;
      margin-bottom: 2.121rem;
      padding-top: 4.242rem;
    }
    h3 {
      color: $blue;
      font-size: 1.414rem;
      line-height: 2.121rem;
      margin-bottom: 1.414rem;
      padding-top: 2.828rem;
      position: relative;
      border-bottom: 3px solid $whitish-gray;
      padding-bottom: 3px;
      &::after {
        position: absolute;
        display:block;
        content: " ";
        border-bottom: solid 3px $blue;
        bottom: -3px;
        width: 5rem;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.414rem;
      margin-bottom: 2.121rem;
      font-weight: 400;
      padding-top: 0.707rem;
    }
    a {
      text-decoration: none;
      color: $blue;
      :link,
      :visited {
        color: $blue-deep;
      }
      :hover,
      :active {
        color: $orange;
        background-color: $whitish-gray;
        padding: 0.5rem 1rem;
      }
    }
  }
}
