@import '../../../styles/mixin';

.site-wrapper {
  display:grid;
  place-content: center;
  max-width: 100%;
  grid-template:
  "head" 5rem
  "body" auto
  "foot" 5rem /
  auto;
}

.head {grid-area: head;}
.body {grid-area: body;}
.foot {grid-area: foot;}

$ms-max:  "main side" 1fr / auto 280px;
$ms-mid:  "main side" 1fr / auto 200px;
$ms-vert:
"main" auto
"side" 1fr /
auto;
.body-wrapper {
  display:grid;
  grid-gap: 1.414rem;
  margin: 1.414rem 0;
  min-height: 100vh;
  @include mq(MAX) { grid-template: $ms-max }
  @include mq(PC) { grid-template: $ms-max }
  @include mq(TABLET) { grid-template: $ms-mid }
  @include mq(PHONE) { grid-template: $ms-vert }
  @include mq(SM) { grid-template: $ms-vert }
  @include mq(MI) { grid-template: $ms-vert }
}

.main {grid-area: main;}
.side {grid-area: side;}
